
.services {
    background-color: var(--orange);
    padding: 40px 0;

    .services-container {
        color: var(--darkblue);
        gap: 20px;
        .service {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-bottom: 10px;

            h3 {
                font-family: 'Cinzel', serif;
                font-size: 22px;
            }
            p {
                font-family: 'Sanchez', serif;
                letter-spacing: -0.5px;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }    
}

@media (min-width: 1024px) {

    .services-container {
        display: flex;
        gap: 20px;

        .service {
            margin-bottom: 0px;
        }

    }

}


