
.navbar-body {
    background-color: var(--darkblue);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index:1;
    top: 0;

    .nav-main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav1 {
            display: flex;
            align-items: center;
            gap: 10px;
    
            .logo {
                width: 45px;
                cursor: pointer;   
            }

            .products-link {
                font-family: 'Sanchez', serif;
                text-decoration: none;
                color: white;
                font-size: 16px;
                transition: 0.3s ease-in-out;
                font-weight: 600;

                &:hover {
                    color: var(--orange);
                }

            }
    
        }

        .nav2 {
            display: flex;
            gap: 10px;
            .nav-icon {
                font-size: 20px;
                color: var(--orange);
            }
        }

    }


}


@media (min-width: 768px) {

    .navbar-body .nav-main {

        .nav1 {
            gap: 20px;
    
            .logo {
                width: 55px;
            }
    
            .products-link {
                font-size: 16px;
                letter-spacing: 2px;
                
                
            }
    
    
        } 

        .nav2 {
            gap: 15px;

        }

    }

}