* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  --darkblue: #14213d;
  --gray: #e5e5e5;
  --orange: #fca311;
}

.swiper-pagination-bullet-active {
  background-color: var(--darkblue) !important;
}
.swiper-pagination-bullet {
  padding: 5px;
}
.swiper-pagination {
  margin-bottom: 15px;
}

.markdownStyles {
  padding: 15vh 0;
  h1 {
    font-family: 'Cinzel', serif;
    margin: 10px 0;
  }
  h2 {
    margin: 15px 0;
    font-family: 'Cinzel', serif;
  }
  p {
    font-family: 'Sanchez', serif;
    font-size: 15px;
    margin: 20px 0;
  }

  ul {
    font-family: 'Sanchez', serif;
    font-size: 15px;
    list-style: square;
  }
}




.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}



