

.itemCard {
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    .img-back {

        img {
            margin: 10px;
            background-color: white;
            width: 120px;
            padding: 5px;
            border-radius: 5px;
        }
    }
}