.shoppingCart {

    .cart-body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: 'Crimson Text', serif;

    }
}


@media (min-width: 992px) {
    .shoppingCart {

        .cart-body {
            flex-direction: row;
            justify-content: space-between;

            .cartItems {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }
        }

    }
}